npm-debug.log
node_modules
.idea
typings
src/*.ngfactory.ts
docs-src/angular-4/node_modules
docs-src/angular-4/package-lock.json
docs-src/angular-5/node_modules
docs-src/angular-5/package-lock.json
docs-src/angular-6/node_modules
docs-src/angular-6/package-lock.json
docs-src/angular-7/node_modules
docs-src/angular-7/package-lock.json
docs-src/angular-8/node_modules
docs-src/angular-8/package-lock.json
docs-src/angular-9/node_modules
docs-src/angular-9/package-lock.json
docs-src/angular-10/node_modules
docs-src/angular-10/package-lock.json
docs-src/angular-11/node_modules
docs-src/angular-11/package-lock.json
docs-src/angular-12/node_modules
docs-src/angular-12/package-lock.json
